{% extends 'app.twig' %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <h1>What’s cooking in Italy?</h1>
        <hr>
        <h3>About the authors</h3>

        <p class="lead text-muted">
            This Web platform (and the underlying API) has been developed by Stefano Pardini and Mattia Florio as presentation layer of the "Big Data Technology 2020" project work.
        </p>
    </div>
    <div class="col"></div>
</div>

{% endblock %}

